<section id="formacao" class="py-20 px-6 max-w-5xl mx-auto  gap-4">
    <div class="text-center mb-16">
        <h2 class="text-3xl font-bold text-white mb-2 text-transparent bg-clip-text bg-gradient-to-r from-white to-gray-500">
            Formação Académica
        </h2>
        <div class="h-1 w-20 bg-purple-500 mx-auto rounded-full mb-10"></div>
    </div>

    <div class="flex flex-wrap gap-4">
        <AcademicCard Curso="Licenciatura em Engenharia Informática"
                      Instituicao="Universidade Técnica de Angola - UTANGA"
                      Ano="2016 - 2022"
                      Descricao="Formação abrangente em engenharia de software, sistemas de informação e tecnologias emergentes." />

        <AcademicCard Curso="Modelagem de Software com Diagramas UML"
                      Instituicao="Universidade Técnica de Angola - UTANGA"
                      Ano="2019"
                      Descricao="Curso especializado em análise e modelagem de sistemas usando a linguagem UML." />
    </div>
</section>