@using EvanderTx.Portfolio.Components.Shared
@inherits LayoutComponentBase

<div class="min-h-screen bg-[#0b0e14] text-white">
    <Navbar />

    <main class="pt-16">
        @* Padding top para compensar o menu fixo *@
        @Body
    </main>

    <footer class="py-10 text-center text-gray-500 text-sm">
        &copy; 2026 Evander Teixeira. Todos os direitos reservados.
    </footer>
</div>